{# templates/emails/contact_notification.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Contact Notification</title>
</head>
<body>
    <h2>Nouveau message de contact</h2>
    <p>
        Un nouveau message de contact a été reçu avec les détails suivants :
    </p>
   
    <p>
        Merci de prendre les mesures nécessaires.
    </p>
</body>
</html>
