{% extends 'base.html.twig' %}

{% block title %}Upload PDF{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Charger un PDF</h1>

        <form method="post" action="{{ path('upload_pdf') }}" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="pdf_file" class="form-label">Téléversez votre PDF :</label>
                <input type="file" class="form-control" name="pdf_file" id="pdf_file" accept=".pdf" required>
            </div>

            <button type="submit" class="btn btn-primary">Téléverser</button>
        </form>
    </div>
{% endblock %}
