{# templates/fournisseur/new_facture.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Ajouter une Nouvelle Facture{% endblock %}

{% block body %}
    <h1>Ajouter une Nouvelle Facture</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter la facture</button>
    {{ form_end(form) }}
{% endblock %}
